@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@500;700&display=swap");
.container {
  margin: 30px auto;
}
body {
  font-family: "Playfair Display", serif;
}
footer a {
  text-decoration: none;
  color: #607eaa;
}
footer a:hover {
  color: cadetblue;
  transition: all 150ms ease-in-out;
  text-decoration: overline;
}
footer {
  text-align: center;
  margin-top: -20px;
}
